.admin {
  &-title {
    color: $primary;
    text-align: center;
    font-size: $title;
  }
  &-nav {
    margin-bottom: 20px;
  }
  border-collapse: collapse;
  width: 100%;

  &-head {
    background-color: $primary;
    color: white;
    padding: 12px;
    text-align: left;
    width: 60px;
  }
  &-body {
    padding: 8px;
    word-wrap: break-word;
  }
  &-row {
    background-color: white;
    &:nth-child(even) {
      background-color: #f2f2f2;
    }
  }

  &-btn {
    background-color: $primary;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    border-radius: 10px;
  }

  &-img {
    max-height: 30px;
  }

  &-input {
    margin-bottom: 20px;
  }
}

.active {
  background-color: $primary-dark;
  color: white;
}

.form-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.form-floating {
  flex-basis: 50%;
  box-sizing: border-box;
}

.add {
  display: flex;
  justify-content: flex-end;
  &-btn {
    align-items: flex-end;
    margin-top: 12px;
  }
}
