.navbar {
  background-color: white;

  .nav-link {
    color: #02785d;
    font-weight: 500;
    margin-right: 10px;

    &:hover {
      color: #274838;
    }
  }
}

.dropdown-menu {
  background-color: #02785d;

  a {
    color: white;
  }

  > li > a:hover {
    background-color: initial;
    color: #c3edcc;
  }
}

.btn-success {
  background-color: #02785d;
  margin: 0px 5px;
}

.btn-warning {
  margin: 0px 5px;
}
