.navbar {
  background-color: white;

  .nav-link {
    color: #02785d;
    font-weight: bold;

    &:focus {
      color: #02785d;
    }
  }
}

.signout_btn {
  color: white;
  border: none;
  background-color: #02785d;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
}

.signout_btn:hover {
  background-color: #157347;
}

.dropdown-menu {
  background-color: #02785d;

  a {
    color: white;
  }

  > li > a:hover {
    background-color: initial;
    color: #c3edcc;
  }
}

.btn-success {
  background-color: #02785d;
  margin: 0px 5px;
}
