/* 
Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');

$playfair-font: 'Playfair Display', serif;

/* 
Font Sizes
*/
$title: 72px;
$small-title: 48px;
$subtitle: 36px;
$item-title: 28px;
$item-text: 25px;
$body-text: 24px;
$small-text: 20px;

/* 
Font Weights
*/
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;

/* 
Colours
*/
$primary: red;